body{
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding:0;
}

.navbar{
    background-color: black;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    top: 0;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container-top{
    margin: auto;
    background-color: black;
    width: 90%;
    height: 75px;
}


.nav-logo{
    margin-left: 6%;
    margin-top: 18px;
    float: left;
    width: 40%;
    height: 75px;
}

.name{
    float: left;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin:0;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
}


.nav-item li{
    float: left;
    list-style-type: none;
    margin: 0 1%;
    padding: 16px;
    padding-top: 23px;
}

ul {
    margin: 0;
}

.dropdown {
    display: none; 
    position: absolute; 
    background: linear-gradient(to bottom, #444, #333); 
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.dropdown li {
    width: 150px; 
    padding: 5px 0; 
}

nav li:hover .dropdown {
    display: block; 
}

.dropdown a {
    display: block; 
    padding: 10px 15px; 
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.dropdown a:hover {
    background-color: #555;
    border-radius: 3px;
    transform: scale(1.02); 
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #333, #444);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 45px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    margin: 10px 0;
}

.timeline {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    padding: 20px;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.timeline-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.timeline-image {
    flex: 0 0 150px; 
    margin-left: 20px;
    transition: transform 0.3 ease;
}

.timeline-image img {
    width: 280px;
    border-radius: 8px;
    height: 180px;
}

.timeline img:hover{
    transform: scale(1.05);
}

.timeline-item:nth-child(odd) .timeline-content {
    order: 1; 
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 2;
}

footer{
    background-color: black;
    margin-top: -20px;
    height: 75px;
    padding: 0;
    justify-content: center;
    display: flex;
}

footer p{
    color: white;
    text-align: center;
}