body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    margin-top: 0 !important;
}
  
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
  
.container-top{
    margin: auto;
    background-color: black;
    width: 90%;
    height: 75px;
}
  
  
.nav-logo{
    margin-left: 6%;
    margin-top: 18px;
    float: left;
    width: 40%;
    height: 75px;
}

.name{
    float: left;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin:0;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
}
  
  
.nav-item li{
    float: left;
    list-style-type: none;
    margin: 0 1%;
    padding: 16px;
    padding-top: 23px;
}
  
ul {
    margin: 0;
}

.dropdown {
    display: none; 
    position: absolute; 
    background: linear-gradient('to bottom #444, #333');
    background-color: #444; 
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    cursor: pointer;
}

.dropdown li {
    width: 110px; 
}

nav li:hover .dropdown {
    display: block; 
}

.dropdown a {
    padding: 5px 8px; 
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.3 ease;
}

.dropdown a:hover {
    background-color: #555;
}

.header {
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
}

.header-bg {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover; 
    background-position: center; 
    z-index: 1; 
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.header-desc {
    position: relative; 
    z-index: 2; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center; 
    color: white; 
    padding: 20px; 
}

.desc-container h1 {
    font-size: 3em; 
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.desc-container p {
    font-size: 1.2em; 
    margin-top: 10px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}


.home {
    padding: 50px 0px 50px 0px;
    margin-top: 20px;
}


.headline{
    font-size: 46px;
    text-align: center;
    color: #384B70;
}

.headline::after {
    content: "";
    border-bottom: 7px solid #3A6D8C;
    width: 56px;
    display: block;
    margin: 25px auto;
}

.white-section {
    margin-top: 45px;
    background-color: #fff;
    width: 100%;
    height: 500px;
}

.container {
    width: 80%;
    height: 1000px;
    background-color: #fff;
    margin: auto;
}

.card {
    background-color: white;
    margin: 1%;
    width: 16%;
    border-radius: 15px;
    padding: 1%;
    float: left;
    justify-content: center;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card-image {
    width: 200px;
    height: 200px;
}

.card-title {
    font-size: 18px;
    color: black;
    margin: 3% 0 3% 0;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.card-price {
   font-weight: bold;
   font-size: 15px;
   margin: 2% 0 2% 0;
}

.card-store {
    font-size: 14px;
    color: gray;
    margin: 3% 0 4% 0;
}

.card-button {
    background-color: #982B1C;
    color: white;
    text-decoration: none;
    padding: 5%;
    border-radius: 10px;
    display: inline-block;
    width: 85%;
    text-align: center;
    margin: 0 1% 0 1%;
}

.partnership {
    width: 80%;
    margin: auto;
    margin-top: 37px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.partnership h1 {
    margin-top: 0;
}

.partnership form {
    margin-top: 20px;
}

.partnership label {
    display: block;
    margin-bottom: 10px;
}

.partnership input, .partnership textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.partnership input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.partnership input[type="submit"]:hover {
    background-color: #555;
}

footer{
    background-color: black;
    margin-top: -20px;
    height: 75px;
    padding: 0;
    justify-content: center;
    display: flex;
    margin-top: 55px;
}

footer p{
    color: white;
    text-align: center;
}